
data/~$history.xlsx
data/~$ridership.xlsx
*.tmp
~$VID_Transit.docx
doc/excels/~$temporal.xlsx
doc/~$pre_results.pptx
doc/~$reetlight_request.docx
data/google_trend/system_info.shp.LAPTOP-URVQHUDN.3796.2712.sr.lock
*.lock
doc/excels/~$temporal (Autosaved).xlsx
doc/excels/~$correlation.xlsx
doc/~$transit_app.pptx
doc/~$olivia_pre_results.pptx
~$VID_Transit_PNAS.docx
doc/~$bmission_tips.docx
~$VID_Transit_clean.docx
~$VID_Transit v9_scheff_edits_uptop17.docx
~$VID_Transit v9_scheff_edits_all.docx
~$ver_Letter.docx
~$VID_Transit revision.docx
~$buttal_Letter.docx
~$Revision_Progress.xlsx
