
data/~$history.xlsx
data/~$ridership.xlsx
*.tmp
~$VID_Transit.docx
doc/excels/~$temporal.xlsx
doc/~$pre_results.pptx
doc/~$reetlight_request.docx
data/google_trend/system_info.shp.LAPTOP-URVQHUDN.3796.2712.sr.lock
*.lock
doc/excels/~$temporal (Autosaved).xlsx
